In [8]:
import pandas as pd 
  
# initialize list of lists 
data = [['baby_1',7.8,10.8,14.1,13.6,18,20.9,22.1,24.5,23.2,25,28,30], ['baby_2', 8.8,9.9,12.3,15.4,16.9,20.1,22.9,23.3,24,26,30,29]] 
  
# Create the pandas DataFrame 
baby_list = pd.DataFrame(data, columns = ['baby', 'Weight_Jan','Weight_Feb','Weight_Mar','Weight_Apr','Weight_May','Weight_Jun','Weight_Jul','Weight_Aug','Weight_Sep','Weight_Oct','Weight_Nov','Weight_Dec']) 
  
# print dataframe. 
baby_list

,baby,Weight_Jan,Weight_Feb,Weight_Mar,Weight_Apr,Weight_May,Weight_Jun,Weight_Jul,Weight_Aug,Weight_Sep,Weight_Oct,Weight_Nov,Weight_Dec
0,baby_1,7.8,10.8,14.1,13.6,18.0,20.9,22.1,24.5,23.2,25,28,30
1,baby_2,8.8,9.9,12.3,15.4,16.9,20.1,22.9,23.3,24.0,26,30,29

In [18]:
baby_1=[7.8,10.8,14.1,13.6,18,20.9,22.1,24.5,23.2,25,28,30]
baby_2= [8.8,9.9,12.3,15.4,16.9,20.1,22.9,23.3,24,26,30,29]

In [16]:
def weight_cal_month1(a,b):
    baby_1=a
    baby_2=b
    if baby_1[1]>baby_2[1]:
        print("Baby_1 weighed more than baby_2 on month 1")
    else:
        print("Baby_1 weighed less than Baby_2 on Month 1")
        

def weight_cal_last_month(a,b):
    baby_1=a
    baby_2=b
    if baby_1[11]>baby_2[11]:
        print("Baby_1 remained heavier than Baby_2")
    else:
        print("Baby_2 became heavier than Baby_1")

In [17]:
weight_cal_last_month(baby_1,baby_2)

Baby_1 remained heavier than Baby_2

In [20]:
i = 1
while i <= 100:
    print("Count",i)
    i += 1

Count 1
Count 2
Count 3
Count 4
Count 5
Count 6
Count 7
Count 8
Count 9
Count 10
Count 11
Count 12
Count 13
Count 14
Count 15
Count 16
Count 17
Count 18
Count 19
Count 20
Count 21
Count 22
Count 23
Count 24
Count 25
Count 26
Count 27
Count 28
Count 29
Count 30
Count 31
Count 32
Count 33
Count 34
Count 35
Count 36
Count 37
Count 38
Count 39
Count 40
Count 41
Count 42
Count 43
Count 44
Count 45
Count 46
Count 47
Count 48
Count 49
Count 50
Count 51
Count 52
Count 53
Count 54
Count 55
Count 56
Count 57
Count 58
Count 59
Count 60
Count 61
Count 62
Count 63
Count 64
Count 65
Count 66
Count 67
Count 68
Count 69
Count 70
Count 71
Count 72
Count 73
Count 74
Count 75
Count 76
Count 77
Count 78
Count 79
Count 80
Count 81
Count 82
Count 83
Count 84
Count 85
Count 86
Count 87
Count 88
Count 89
Count 90
Count 91
Count 92
Count 93
Count 94
Count 95
Count 96
Count 97
Count 98
Count 99
Count 100

In [22]:
i = 1
for i in range(1,101):
    print("Count",i)
    i += 1

Count 1
Count 2
Count 3
Count 4
Count 5
Count 6
Count 7
Count 8
Count 9
Count 10
Count 11
Count 12
Count 13
Count 14
Count 15
Count 16
Count 17
Count 18
Count 19
Count 20
Count 21
Count 22
Count 23
Count 24
Count 25
Count 26
Count 27
Count 28
Count 29
Count 30
Count 31
Count 32
Count 33
Count 34
Count 35
Count 36
Count 37
Count 38
Count 39
Count 40
Count 41
Count 42
Count 43
Count 44
Count 45
Count 46
Count 47
Count 48
Count 49
Count 50
Count 51
Count 52
Count 53
Count 54
Count 55
Count 56
Count 57
Count 58
Count 59
Count 60
Count 61
Count 62
Count 63
Count 64
Count 65
Count 66
Count 67
Count 68
Count 69
Count 70
Count 71
Count 72
Count 73
Count 74
Count 75
Count 76
Count 77
Count 78
Count 79
Count 80
Count 81
Count 82
Count 83
Count 84
Count 85
Count 86
Count 87
Count 88
Count 89
Count 90
Count 91
Count 92
Count 93
Count 94
Count 95
Count 96
Count 97
Count 98
Count 99
Count 100

In [ ]:
#
#Python 3 doesnt take raw_input.It was used it python 2 and renamed to input in python 3
num_str = input('Enter a number: ')

#
num_num = int(num_str)

#
#Bug print not in ()
non_fac_list = list(range(1, num_num+1))
print("BEFORE:", repr(non_fac_list))

#
i = 0
#
while i < len(non_fac_list):
    #
    if num_num % non_fac_list[i] == 0:
        del non_fac_list[i]
        #
        i = i + 1
    else:
        i = i + 1
#
print("AFTER:", repr(non_fac_list))